/*
 * Page Header
 */

.pageHeader {
  @extend %__section;

  &__inner {
    @extend %__inner;
  }

  &__productName {
    color: #08186e;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: min(100%, 45rem);
    margin: 0 auto;
    padding: 0.75rem;
  }

  &__image {
    display: block;
    flex: 0 1 18.75rem;
    margin: 0.375rem auto;
  }

  &__content {
    flex: 0 1 22.5rem;
  }

  &__comicomikakaku {
    display: block;
    margin: 0.75rem auto;
  }

  &__price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -1rem;
    padding-right: 1rem;
    font-size: 2rem;
  }

  &__priceNum1 {
    display: inline-block;
    color: #d80000;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 300%;
    transform: translateY(0.375rem);
  }

  &__priceNum2 {
    display: inline-block;
    color: #d80000;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 200%;
  }

  &__priceUnit {
    margin-left: 0.375rem;
    font-size: 75%;

    &> span:nth-of-type(1) {
      font-size: 80%;
    }
  }
}
