/*
 * Section
 */

%__section {
  padding: 3rem 0;
}

%__inner {
  width: min(100%, 63rem); // 1008px 左右24pxずつpaddingで、内寸960px
  margin: auto;
  padding: 0 clamp(0.75rem, 2.5%, 1.5rem);
}

%__heading {
  position: relative;
  color: #08186e;
  font-weight: 700;
  font-size: min(4.8vw, 3rem);
  line-height: 1.44;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    width: min(12vw, 7.5rem);
    height: min(0.8vw, 0.5rem);
    margin: auto;
    background-color: #fa6400;
  }
}
