<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トイレ本舗|はた楽</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=M+PLUS+1p:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="../favicon.ico">
  </head>
  <body id="lpTop">
    <header class="header">
      <div class="header__inner">
        <h1 class="header__siteBrand">
          <a href="/">
            <img src="./assets/images/logo_hataraku.jpg" alt="福井市密着のエコキュート専門店|はた楽">
          </a>
        </h1>
        <ul class="header__buttons">
          <li class="header__buttonWrap"><a class="header__button --line" href="#"></a></li>
          <li class="header__buttonWrap"><a class="header__button --mitsumori" href="#"></a></li>
          <li class="header__buttonWrap"><a class="header__button --raiten" href="#"></a></li>
        </ul>
        <a class="header__tel" href="tel:0120-31-0502">
          <img src="./assets/images/tel_hataraku.jpg">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__primaryMenu">
          <li class="header__primaryMenuItem"><a href="#feature">はた楽の特徴</a></li>
          <li class="header__primaryMenuItem"><a href="#products">商品一覧</a></li>
          <li class="header__primaryMenuItem"><a href="#flow">リフォームの流れ</a></li>
          <li class="header__primaryMenuItem"><a href="#works">施工事例</a></li>
          <li class="header__primaryMenuItem"><a href="#showroom">ショールーム</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <section class="mainVisual">
        <img class="mainVisual__image" src="./assets/images/FV.png">
        <div class="mainVisual__badges">
          <div class="mainVisual__badgeContent">
            <img class="mainVisual__badge" src="./assets/images/no1badge.png">
            <p>豊富な実績で<br>激安価格！</p>
          </div>
          <div class="mainVisual__badgeContent">
            <img class="mainVisual__badge" src="./assets/images/no1badge.png">
            <p>展示台数<br>地域最大級！</p>
          </div>
          <div class="mainVisual__badgeContent">
            <img class="mainVisual__badge" src="./assets/images/no1badge.png">
            <p>最短当日<br>施工完了！</p>
          </div>
        </div>
      </section>
      <section class="movie">
        <iframe src="https://www.youtube.com/embed/caOOjricKVM?si=Q3uCBfr65dC589kq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </section>
      <section id="feature" class="feature">
        <div class="feature__inner">
          <h2 class="feature__heading">はた楽の4つの特徴</h2>
          <ol class="feature__list">
            <li class="feature__listItem">
              <div class="feature__listItemNum">01</div>
              <div class="feature__listItemText">常時最新のトイレを<span>十数台展示中！</span></div>
            </li>
            <li class="feature__listItem">
              <div class="feature__listItemNum">02</div>
              <div class="feature__listItemText"><span>全メーカー</span>お取り扱い出来ます！</div>
            </li>
            <li class="feature__listItem">
              <div class="feature__listItemNum">03</div>
              <div class="feature__listItemText"><span>施工実績豊富！</span>仕入・工事金額を
                <br>常に見直し、極安価格でご提供！</div>
            </li>
            <li class="feature__listItem">
              <div class="feature__listItemNum">04</div>
              <div class="feature__listItemText">自社施工だから、<span>安心</span>＆<span>早い</span>＆<span>極安！</span></div>
            </li>
          </ol>
        </div>
      </section>
      <section class="review">
        <h2 class="review__heading"><span>google口コミで高評価を</span><span>いただいております！</span></h2>
        <div class="slider --sm" data-gap="36">
          <figure class="slider__inner">
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
            <figure class="slider__item">
              <img class="slider__image" src="./assets/images/google_review.jpg">
            </figure>
          </figure>
        </div>
      </section>
      <section class="contactButtons">
        <div class="contactButtons__inner">
          <a class="contactButtons__button --line" href="#"></a>
          <a class="contactButtons__button --mitsumori" href="#"></a>
          <a class="contactButtons__button --raiten" href="#"></a>
        </div>
      </section>
      <section class="comicomikakaku">
        <div class="comicomikakaku__inner">
          <picture class="comicomikakaku__image">
            <source srcset="./assets/images/comicomikakaku_lg.png" media="(min-width: 750px)" type="image/png">
            <img src="./assets/images/comicomikakaku_md.png" alt="コミコミ価格">
          </picture>
        </div>
      </section>
      <section id="products" class="products">
        <div class="products__inner">
          <h2 class="products__heading">商品一覧</h2>
          <ul class="products__menu">
            <li class="products__menuItem"><a href="#">トイレリフォーム</a></li>
            <li class="products__menuItem"><a href="#">ウォッシュレット</a></li>
          </ul>
          <h3 class="products__subheading">トイレリフォーム</h3>
          <ul class="products__list">
            <li class="products__listItem" v-for="product in products">
              <div class="products__itemHeader">
                <h4 class="products__itemName">{{product.brand}} | {{product.name}}</h4>
              </div>
              <div class="products__itemBody">
                <div class="products__itemDesc">
                  <img class="products__itemImage" :src="product.image">
                  <h5 class="products__contentHeadline --feature">機能・仕様</h5>
                  <ul class="products__featureList">
                    <li class="products__featureListItem" v-for="feature in product.feature">{{ feature }}</li>
                  </ul>
                </div>
                <div class="products__itemPrice">
                  <h5 class="products__contentHeadline --price">割引率</h5>
                  <table class="products__priceTable">
                    <tr><td>本体価格より</td><td class="products__itemOffPrice">{{ product.offPrice }}</td></tr>
                    <tr><td>メーカー希望小売価格</td><td class="products__itemDefaultPrice">{{ product.defaultPrice }}</td></tr>
                  </table>
                  <img class="products__comicomikakaku" src="./assets/images/comicomikakaku_sm.png">
                  <div class="products__price">
                    <div class="products__priceNum1">{{ product.priceNum1 }}</div>
                    <div class="products__priceNum2">.{{ product.priceNum2 }}</div>
                    <div class="products__priceUnit"><span>(税込)</span><br><span>万円</span></div>
                  </div>
                  <a class="products__button" href="#">この商品を詳しく見る</a>
                </div>
              </div>
            </li>
          </ul>
          <h3 class="products__subheading">ウォッシュレット</h3>
          <ul class="products__list">
            <li class="products__listItem" v-for="product in products">
              <div class="products__itemHeader">
                <h4 class="products__itemName">{{product.brand}} | {{product.name}}</h4>
              </div>
              <div class="products__itemBody">
                <div class="products__itemDesc">
                  <img class="products__itemImage" :src="product.image">
                  <h5 class="products__contentHeadline --feature">機能・仕様</h5>
                  <ul class="products__featureList">
                    <li class="products__featureListItem" v-for="feature in product.feature">{{ feature }}</li>
                  </ul>
                </div>
                <div class="products__itemPrice">
                  <h5 class="products__contentHeadline --price">割引率</h5>
                  <table class="products__priceTable">
                    <tr><td>本体価格より</td><td class="products__itemOffPrice">{{ product.offPrice }}</td></tr>
                    <tr><td>メーカー希望小売価格</td><td class="products__itemDefaultPrice">{{ product.defaultPrice }}</td></tr>
                  </table>
                  <img class="products__comicomikakaku" src="./assets/images/comicomikakaku_sm.png">
                  <div class="products__price">
                    <div class="products__priceNum1">{{ product.priceNum1 }}</div>
                    <div class="products__priceNum2">.{{ product.priceNum2 }}</div>
                    <div class="products__priceUnit"><span>(税込)</span><br><span>万円</span></div>
                  </div>
                  <a class="products__button" href="#">この商品を詳しく見る</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section id="flow" class="flow">
        <div class="flow__inner">
          <h2 class="flow__heading">リフォーム工事の流れ</h2>
          <p class="flow__desc"><span>最短当日施工！お客様の状況に応じて</span><span>できる限り柔軟に対応いたします！</span></p>
          <img class="flow__image" src="./assets/images/flow.png">
        </div>
      </section>
      <section id="works" class="works">
        <div class="works__inner">
          <h2 class="works__heading">トイレリフォーム施工事例</h2>
          <ul class="works__cases">
            <li class="works__case">
              <div class="works__caseHeader">
                <h3 class="works__caseSample">組合せトイレ入替のケース</h3>
              </div>
              <div class="works__caseBody">
                <figure class="works__caseImage">
                  <img src="./assets/images/sampleCase.jpg">
                </figure>
                <div class="works__caseContent">
                  <div class="works__caseDate">2024/07/01(月)</div>
                  <h4 class="works__caseName">福井市光陽<br>K様邸トイレ改修工事</h4>
                  <p class="works__caseDesc">テキストが入ります。テキストが入ります。</p>
                  <div class="works__casePrice">
                    <span>参考価格</span>
                    <br><span class="works__casePriceMain">00</span><span>万円（税込）</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="works__case">
              <div class="works__caseHeader">
                <h3 class="works__caseSample">タンクレストイレ入替のケース</h3>
              </div>
              <div class="works__caseBody">
                <figure class="works__caseImage">
                  <img src="./assets/images/sampleCase.jpg">
                </figure>
                <div class="works__caseContent">
                  <div class="works__caseDate">2024/07/01(月)</div>
                  <h4 class="works__caseName">福井市光陽<br>K様邸トイレ改修工事</h4>
                  <p class="works__caseDesc">テキストが入ります。テキストが入ります。</p>
                  <div class="works__casePrice">
                    <span>参考価格</span>
                    <br><span class="works__casePriceMain">00</span><span>万円（税込）</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="works__case">
              <div class="works__caseHeader">
                <h3 class="works__caseSample">内装セットのケース</h3>
              </div>
              <div class="works__caseBody">
                <figure class="works__caseImage">
                  <img src="./assets/images/sampleCase.jpg">
                </figure>
                <div class="works__caseContent">
                  <div class="works__caseDate">2024/07/01(月)</div>
                  <h4 class="works__caseName">福井市光陽<br>K様邸トイレ改修工事</h4>
                  <p class="works__caseDesc">テキストが入ります。テキストが入ります。</p>
                  <div class="works__casePrice">
                    <span>参考価格</span>
                    <br><span class="works__casePriceMain">00</span><span>万円（税込）</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="works__case">
              <div class="works__caseHeader">
                <h3 class="works__caseSample">和式から洋式のケース</h3>
              </div>
              <div class="works__caseBody">
                <figure class="works__caseImage">
                  <img src="./assets/images/sampleCase.jpg">
                </figure>
                <div class="works__caseContent">
                  <div class="works__caseDate">2024/07/01(月)</div>
                  <h4 class="works__caseName">福井市光陽<br>K様邸トイレ改修工事</h4>
                  <p class="works__caseDesc">テキストが入ります。テキストが入ります。</p>
                  <div class="works__casePrice">
                    <span>参考価格</span>
                    <br><span class="works__casePriceMain">00</span><span>万円（税込）</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="faq">
        <div class="faq__inner">
          <h2 class="faq__heading">よくある質問</h2>
          <table class="faq__table">
            <tr><th>Q</th><td>急に故障したので、急ぎで取り付けたいのですが・・・</td></tr>
            <tr><th>A</th><td>はい、状況によって可能です。最短当日にお伺いして現場を確認させて頂き、在庫があるものでしたら当日に対応可能な場合もあります。故障の原因をしっかり調査しないと、また同じように故障する可能性もありますので、なるべくお時間に余裕をもってご連絡されることをお勧めします。</td></tr>
          </table>
          <table class="faq__table">
            <tr><th>Q</th><td>工事はどのくらいで終わりますか？</td></tr>
            <tr><th>A</th><td>工事日当日は、約2時間~3時間を目安に工事完了となります。</td></tr>
          </table>
          <table class="faq__table">
            <tr><th>Q</th><td>問合せや相談後、しつこく営業されませんか？</td></tr>
            <tr><th>A</th><td>ご安心ください。強引な営業などはいたしません。当店は、お客様がやって良かったと心から思ってもらえることをモットーとしているので、お気軽にご相談ください。</td></tr>
          </table>
          <table class="faq__table">
            <tr><th>Q</th><td>施工後のフォローはありますか？</td></tr>
            <tr><th>A</th><td>はい、ございます。当店は、50年以上福井市に根付いて営業させて頂いています。地域の皆様に信頼いただくことがとても大切なことです。施工して終わりという業者とは違います。何か不調なことがあれば飛んで対応に伺いますので、安心してご相談くださいませ。</td></tr>
          </table>
        </div>
      </section>
      <section id="showroom" class="showroom">
        <div class="showroom__inner">
          <h2 class="showroom__heading">ショールーム</h2>
          <div class="showroom__container">
            <figure class="showroom__image">
              <img src="./assets/images/gaikan.png">
            </figure>
            <div class="showroom__content">
              <p class="showroom__lead">トイレ多数展示中！</p>
              <h4 class="showroom__shop">店舗情報／はた楽　福井店ショールーム</h4>
              <p class="showroom__info">〒910-0028　福井県福井市学園3-2-17
                <br>営業時間／9：00～17：00
                <br>定休日　／日曜・祝祭日</p>
            </div>
          </div>
          <iframe class="showroom__access" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12899.738011489238!2d136.1968056!3d36.0707016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8bf1ee5be0b8d%3A0xf37aa1a1e0a09703!2z6KW_6YOo54eD5paZKOagqik!5e0!3m2!1sja!2sjp!4v1733189350188!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const data = {
        data() {
          return {
            products: [
              {
                brand: 'LIXIL',
                name: '商品名が入ります',
                image: './assets/images/01WC.png',
                feature: [
                  'ハイパーキラミック',
                  '暖房便座',
                  'フチレス'
                ],
                offPrice: '30%OFF',
                defaultPrice: '99,000円',
                priceNum1: '9',
                priceNum2: '9'
              },
              {
                brand: 'LIXIL',
                name: '商品名が入ります',
                image: './assets/images/01WC.png',
                feature: [
                  'ハイパーキラミック',
                  '暖房便座',
                  'フチレス'
                ],
                offPrice: '30%OFF',
                defaultPrice: '99,000円',
                priceNum1: '9',
                priceNum2: '9'
              },
              {
                brand: 'LIXIL',
                name: '商品名が入ります',
                image: './assets/images/01WC.png',
                feature: [
                  'ハイパーキラミック',
                  '暖房便座',
                  'フチレス'
                ],
                offPrice: '30%OFF',
                defaultPrice: '99,000円',
                priceNum1: '9',
                priceNum2: '9'
              },
              {
                brand: 'LIXIL',
                name: '商品名が入ります',
                image: './assets/images/01WC.png',
                feature: [
                  'ハイパーキラミック',
                  '暖房便座',
                  'フチレス'
                ],
                offPrice: '30%OFF',
                defaultPrice: '99,000円',
                priceNum1: '9',
                priceNum2: '9'
              }
            ]
          }
        }
      }

      Vue.createApp(data).mount('#products');
    </script>
    <script src="./js/slider.js"></script>
    <script src="./js/init.js"></script>
  </body>
</html>
